<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listenes>
	<listener class-name="org.com.bank.test.TestListenerClass"
</listenes>
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.com.bank.test.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
